<h6 class="bold">{{ 'why.benefits.title' | translate }}</h6>
<div class="flex">


  <app-benefit
  [img]="'/images/why-us/28.png'"
  [text]="'why.benefits.b1' | translate "/>

  <app-benefit
    [img]="'/images/why-us/29.png'"
    [text]="'why.benefits.b2' | translate"/>

  <app-benefit
    [img]="'/images/why-us/30.png'"
    [text]="'why.benefits.b3' | translate "/>

  <app-benefit
    [img]="'/images/why-us/31.png'"
    [text]="'why.benefits.b4' | translate "/>

  <app-benefit
    [img]="'/images/why-us/32.png'"
    [text]="'why.benefits.b5' | translate "/>

  <app-benefit
    [img]="'/images/why-us/33.png'"
    [text]="'why.benefits.b6' | translate "/>

  <app-benefit
    [img]="'/images/why-us/34.png'"
    [text]="'why.benefits.b7' | translate "/>

</div>
