
  <div class="wrapper">

    <div class="aside">
      <div class="aside__title">
        <h6><span class="h1">{{ 'whyCf.titleAccent' | translate}}</span></h6>
        <h6>{{ 'whyCf.title' | translate}}</h6>
      </div>
      <ul class="aside__list">

          <li class="aside__list-item">{{ 'whyCf.list.one' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.two' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.three' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.four' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.five' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.six' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.seven' | translate }}</li>
          <li class="aside__list-item">{{ 'whyCf.list.eight' | translate }}</li>

      </ul>
      <div class="aside__btn">
        <app-link [link]="'/why-us'">{{ 'whyCf.button' | translate}}</app-link>
      </div>

    </div>
    <div class="img">

    </div>

  </div>

