<div class="wrapper">
  <h2>{{ "unlockPotential.title" | translate }}</h2>
  <span class="monospace">{{ "unlockPotential.subtitle" | translate }}</span>
  <div class="split">
    <div class="img"></div>
    <div class="aside">
      <h3 class="aside__quote">
        <q>
          <span class="accent">
            {{ "unlockPotential.quote.first" | translate }}
          </span>
          <br />
          {{ "unlockPotential.quote.second" | translate }}<br />
          <span>
            {{ "unlockPotential.quote.third" | translate }}
          </span>
          <br />
          <span class="accent">
            {{ "unlockPotential.quote.forth" | translate }}
          </span>
        </q>
      </h3>
      <span class="aside__author author">
        <p>Abdulhamid K.</p>
        <p>Web Developer, Typo3 Person of the Year 2023</p>
      </span>
    </div>
  </div>
</div>
