<div class="wrapper">
  <img class="backgroundLogo" width="600" height="600" ngSrc="./images/illustrations/wheel.png" alt="" priority>
  <h6>{{ 'aboutUs.title' | translate}}</h6>
  <div class="aside">
    <p class="monospace-small">{{ 'aboutUs.text' | translate}}</p>
    <hr>
    <h5>{{ 'aboutUs.subtitle' | translate}}</h5>
    <div class="sprites">
      <div class="sprite">
        <img src="/images/sprites/4.png" alt="">
        <p class="sprite-info">{{ 'aboutUs.sprite1' | translate}}</p>
      </div><div class="sprite">
        <img src="/images/sprites/5.png" alt="">
        <p class="sprite-info">{{ 'aboutUs.sprite2' | translate}}</p>
      </div><div class="sprite">
        <img src="/images/sprites/6.png" alt="">
        <p class="sprite-info">{{ 'aboutUs.sprite3' | translate}}</p>
      </div>
    </div>
  </div>
</div>
