<app-section>
  <app-hero
  [img]="'/images/illustrations/mission_statement.png'"
  [title]="'mission.title' | translate ">

  </app-hero>
</app-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.preamble.title' | translate }}</h4>
    <p class="monospace-small">{{ 'mission.preamble.text' | translate }}</p>
  </article>
</app-mini-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.background.title' | translate }}</h4>
    <p class="monospace-small">{{ 'mission.background.text' | translate }}</p>
  </article>
</app-mini-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.tasks.title' | translate }}</h4>
    <p class="monospace-small">{{ 'mission.tasks.text' | translate }}</p>
  </article>
</app-mini-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.additional.title' | translate }}</h4>
    <ul class="indent">
      <li><p class="monospace-small"><span class="bold">{{ 'mission.additional.b1' | translate }} </span>{{ 'mission.additional.p1' | translate }}</p></li>
      <li> <p class="monospace-small"><span class="bold">{{ 'mission.additional.b2' | translate }} </span>{{ 'mission.additional.p2' | translate }}</p></li>
      <li><p class="monospace-small"><span class="bold">{{ 'mission.additional.b3' | translate }} </span>{{ 'mission.additional.p3' | translate }}</p></li>
      <li> <p class="monospace-small"><span class="bold">{{ 'mission.additional.b4' | translate }} </span>{{ 'mission.additional.p4' | translate }}</p></li>
      <li><p class="monospace-small"><span class="bold">{{ 'mission.additional.b5' | translate }} </span>{{ 'mission.additional.p5' | translate }}</p></li>
      <li><p class="monospace-small"><span class="bold">{{ 'mission.additional.b6' | translate }} </span>{{ 'mission.additional.p6' | translate }}</p></li>
    </ul>


  </article>
</app-mini-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.target.title' | translate }}</h4>
    <p style="margin-block: 1rem;" class="monospace-small bold">{{ 'mission.target.p1' | translate }}</p>
    <ul class="indent">
      <li> <p class="monospace-small">{{ 'mission.target.p2' | translate }}</p></li>
      <li> <p class="monospace-small">{{ 'mission.target.p3' | translate }}</p></li>
      <li> <p class="monospace-small">{{ 'mission.target.p4' | translate }}</p></li>
      <li> <p class="monospace-small">{{ 'mission.target.p5' | translate }}</p></li>
      <li> <p class="monospace-small">{{ 'mission.target.p6' | translate }}</p></li>
      <li> <p class="monospace-small">{{ 'mission.target.p7' | translate }}</p></li>
    </ul>


  </article>
</app-mini-section>

<app-mini-section>
  <article>
    <h4 class="title">{{ 'mission.principles.title' | translate }}</h4>
    <p class="monospace-small">{{ 'mission.principles.text' | translate }}</p>
  </article>
</app-mini-section>

<app-mini-section>
  <article style="margin-bottom:100px;">
    <h4 class="title">{{ 'mission.culture.title' | translate }}</h4>
    <p class="monospace-small">{{ 'mission.tasks.text' | translate }}</p>
  </article>
</app-mini-section>
