<div class="wrapper">
  <h6 class="benefit-title">{{ 'customCourses.benefits.title' | translate }}</h6>
  <div class="benefit-cards">

    <div class="benefit-option">
      <div class="benefit-option__img">
        <img width="250" height="250" [ngSrc]="'./images/custom-courses/17.png'" alt="payment minimalistic image"
             priority>
      </div>
      <div class="benefit-option__description">
        <p class="small-bold">{{ 'customCourses.benefits.sprite1' | translate }}
        </p>

      </div>
    </div>

    <div class="benefit-option">
      <div class="benefit-option__img">
        <img width="250" height="250" [ngSrc]="'./images/custom-courses/18.png'" alt="payment minimalistic image"
             priority>
      </div>
      <div class="benefit-option__description">
        <p class="small-bold">{{ 'customCourses.benefits.sprite2' | translate }}
        </p>

      </div>
    </div>

    <div class="benefit-option">
      <div class="benefit-option__img">
        <img width="250" height="250" [ngSrc]="'./images/custom-courses/19.png'" alt="payment minimalistic image"
             priority>
      </div>
      <div class="benefit-option__description">
        <p class="small-bold">{{ 'customCourses.benefits.sprite3' | translate }}
        </p>

      </div>
    </div>



  </div>
</div>
