<app-mini-section>
  <app-hero
  [img]="'/images/illustrations/imprint.png'"
    [title]="'imprint.title' | translate">

  </app-hero>
</app-mini-section>
<app-mini-section>
  <div class="content">
    <p class="monospace">{{ 'imprint.info' | translate }}</p>
    <p class="monospace">{{ 'imprint.company' | translate }}</p>
    <p class="monospace">{{ 'imprint.ceo' | translate }}  Lisa Duschek, Christoph Pirringer</p>
    <p class="monospace">Kettenbrückengasse 23/2/12 </p>
    <p class="monospace">1050 {{ 'imprint.city' | translate }}</p>
    <p class="monospace">{{ 'imprint.city' | translate }} {{ 'imprint.country' | translate }}</p>
    <p class="monospace">{{ 'imprint.phone' | translate }} +43 699 12255185</p>
    <p class="monospace">E-Mail: <a class="monospace link" href="mailto:office@codefactory.wien">office&#64;codefactory.wien</a></p>
    <p class="monospace">{{ 'imprint.member' | translate }}</p>
    <p class="monospace">{{ 'imprint.law' | translate }}
      <a target="_blank" class="monospace link" href="https://ris.bka.gv.at">www.ris.bka.gv.at</a>
    </p>
    <p class="monospace">{{ 'imprint.supervisor' | translate }}</p>
  </div>
</app-mini-section>
