<app-section>
  <app-landing-page />
</app-section>
<app-section>
  <app-unlock-potential-section />
</app-section>
<app-section>
  <app-why-codefactory />
</app-section>
<app-section>
  <app-upcoming-courses />
</app-section>
<app-section id="courseCategories">
  <app-course-categories />
</app-section>
<app-financing />
<app-after-course />
<app-section>
  <app-about-us />
</app-section>
<app-section>
  <app-meet-the-team [team]="team" [title]="'Trainers'" />
</app-section>
<!-- <app-banner /> -->
